@font-face {
  font-family: earlyGameBoy;
  src: url("./early-gameboy.ttf");
}
* {
  box-sizing: border-box;
  font-family: earlyGameBoy;
}

body,
html {
  margin: 0px;
  padding: 0px;
  background: black;
  height: 100vh;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  position: relative;
  top: 65px;
}

.header {
  text-align: center;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  color: white;
  position: relative;
  top: 20px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0px;
  column-gap: 0px;
  width: 600px;
  height: 450px;
  cursor: pointer;
}

.square {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hole {
  background: url("./img/moles-sprite.png") 0px 0px;
  height: 108px;
  width: 103px;
  margin: 0px;
  text-align: center;
}

.bob-out {
  background: url("./img/bob-out.png");
  width: 103px;
  height: 108px;
  animation: bob-out 1.5s steps(4);
}

.mole-out {
  background: url("./img/moles-sprite.png");
  width: 103px;
  height: 108px;
  animation: mole-out 1.5s steps(4);
}

.mole-hit {
  background: url("./img/mole-hit.png");
  width: 103px;
  height: 108px;
}

#score {
  color: green;
  font-size: 30px;
}

#lives {
  color: red;
  font-size: 25px;
}

/* ANIMATE MOLEs */

@keyframes mole-out {
  from {
    background-position: 412px;
  }
  to {
    background-position: 0px;
  }
}

@keyframes bob-out {
  from {
    background-position: 0px;
  }
  to {
    background-position: 412px;
  }
}

/* @keyframes update-score {
  from {
    font-size: 25px;
  }
  to {
    font-size: 40px;
  }
} */
