@font-face {
  font-family: earlyGameBoy;
  src: url("../early-gameboy.ttf");
}
* {
  box-sizing: border-box;
  font-family: earlyGameBoy;
}

body,
html {
  margin: 0px;
  padding: 0px;
  background: black;
  height: 100vh;
  cursor: url("../img/hammer.png"), pointer;
}

a {
  text-decoration: none;
  color: white;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 65px;
}

.header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: relative;
  top: 15px;
}

.modes-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#more-lives-btn {
  visibility: hidden;
  font-size: 10px;
  margin: 5px;
  padding: 7px;
  background-color: white;
  cursor: pointer;
}

#more-lives-btn .fas {
  color: red;
  font-size: 12px;
}

#more-life-label {
  visibility: hidden;
  font-size: 10px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0px;
  column-gap: 0px;
  width: 900px;
  height: 450px;
}

.square {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("../img/hammer.png"), pointer;
}

.hole {
  background: url("../img/moles-sprite.png") 0px 0px;
  height: 108px;
  width: 103px;
  margin: 0px;
  text-align: center;
}

.bob {
  background: url("../img/bob-out.png");
  width: 103px;
  height: 108px;
  background-position: 103px;
  animation: bob 1.5s steps(4);
}

.bob-hit {
  background: url("../img/bob-hit.png");
  background-repeat: no-repeat;
  width: 103px;
  height: 108px;
}

.mole {
  background: url("../img/moles-sprite.png");
  width: 103px;
  height: 108px;
  background-position: 103px;
  animation: mole 1.5s steps(4);
}

/* .mole-hide {
  background: url("../img/moles-sprite.png");
  width: 103px;
  height: 108px;
  background-position: 412px;
  animation: mole-hide 1.5s steps(4);
} */

.mole-hit {
  background: url("../img/mole-hit.png");
  background-repeat: no-repeat;
  width: 103px;
  height: 108px;
}

.coin {
  background: url("../img/coins.png");
  width: 103px;
  height: 108px;
  background-position: 103px;
  animation: coin 1.5s steps(4);
}

.coin-hit {
  background: url("../img/coin-hit.png");
  background-repeat: no-repeat;
  width: 103px;
  height: 108px;
}

#score {
  color: green;
  font-size: 25px;
}

#lives {
  color: red;
  font-size: 25px;
}

#coins {
  color: yellow;
  font-size: 25px;
}

/* // GAME OVER WINDOW */

.game-over {
  position: fixed;
  z-index: 4;
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 800px;
}

.restart-btn {
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
}

.restart-btn a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.game-over h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}

.game-over p {
  font-size: 20px;
}

.hidden {
  display: none;
}

/* ANIMATE MOLES */

@keyframes mole {
  from {
    background-position: 412px;
  }
  to {
    background-position: 0px;
  }
}

@keyframes mole-hide {
  from {
    background-position: 0px;
  }
  to {
    background-position: 412px;
  }
}

@keyframes bob {
  from {
    background-position: 412px;
  }
  to {
    background-position: 0px;
  }
}

@keyframes coin {
  from {
    background-position: 412px;
  }
  to {
    background-position: 0px;
  }
}
